/* WalletConnector.css */

.WalletConnector {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Take full height of the parent container */
}

.connect-wallet-button {
    background-color: royalblue; /* Set the button color to royal blue */
    color: white; /* Set text color to white for better contrast */
    padding: 10px 20px; /* Add some padding around the text */
    border: none; /* Remove the default border */
    border-radius: 5px; /* Optionally, add rounded corners */
    cursor: pointer; /* Change mouse cursor on hover */
    font-size: 16px; /* Increase font size */
}

.connect-wallet-button:hover {
    background-color: darkblue; /* Darken the button a bit when hovered */
}
